<div class="row">
  <div class="large-4 small-12 columns">

    <img src="<%= @user.icon_url %>">

    <div class="hide-for-small panel">
      <h3><%= @user.username %></h3>
      <h5 class="subheader">Level: <span class="level"><%= @level[0] %></span></h5>
      <h5 class="subheader">Experience: <span id="xp"><%= @user.experience_points %></span></h5>
    </div>

    <div class="panel callout radius">
      <h5><span id="title"><%= @level[3] %></span> <span id="skill"><%= @level[4] %></span></h5>
      <h6><span id="xp-level"><%= @level[1] %></span> XP until Level <span id="next-level"><%= @level[0] + 1 %></span></h6>
    </div>

    <% unless @user.parties.empty? %>
    <div class="panel callout radius">
      <h5>Parties</h5>
      <% @user.parties.each do |party| %>
        <p> <%= party.name %> </p>

      <% end %>

    </div>
    <% end %>

  </div>

  <div class="large-8 columns">
    <div class="panel"><h1>Active Quests</h1>(Click to close, click text to expand)</div>
    <div class="row">
      <% @user_quests.each do |user_quest| %>
        <% unless user_quest.complete %>
        <div class="large-4 small-6 columns" id="<%= user_quest.id %>">
          <img src="<%= user_quest.quest.skill.icon_url %>" <% if @user == current_user %> data-reveal-id="myModal<%= user_quest.id %>" <% end %>>
          <div class="panel closed expandable">
            <h5><%= user_quest.quest.name %></h5>
            <h6 class="subheader"><%= user_quest.quest.description %><% unless user_quest.quest.link.blank? %><a href='<%= user_quest.quest.link %>'>here.</a><% end %></h6>
          </div>


          <div id="myModal<%= user_quest.id %>" class="reveal-modal" data-reveal>
            <h2>Are you sure you want to complete this quest?</h2>
            <p>Cheaters never win.</p>
            <a class="close-reveal-modal">&#215;</a>
            <h1 class="complete radius button" quest="<%= user_quest.quest.id %>" user-quest="<%= user_quest.id %>" quest-xp="<%= user_quest.quest.current_experience_points %>">Complete Quest</h1>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="panel"><h1>Completed Quests</h1>(Click text to expand)</div>
    <div class="row completed">
      <% @user_quests.each do |user_quest| %>
        <% if user_quest.complete %>
        <div class="large-4 small-6 columns" id="<%= user_quest.id %>">
          <img src="<%= user_quest.quest.skill.icon_url %>">
          <div class="panel closed expandable">
            <h5><%= user_quest.quest.name %></h5>
            <h6 class="subheader"><%= user_quest.quest.description %><% unless user_quest.quest.link.blank? %><a href='<%= user_quest.quest.link %>'>here.</a><% end %></h6>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>

    <div id="level-up" class="reveal-modal" data-reveal>
      <h2>You leveled up!!!</h2>
      <h1>Congrats! You're now level <span class="level"></span>!</h1>
      <h2 class="close-modal radius button">Okay!</h2>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>



