  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1><% if user_signed_in? %>Click Icons to Accept Quests<% else %>Sign In to Accept Quests<% end %></h1>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="large-3 columns ">
      <div class="panel">
        <a href="#"><img src="<%= @skill.icon_url %>"/></a>
        <h5><%= @skill.name %></h5>
        <p><%= link_to "Add a new quest!", {:controller => "quests", :action => "new", :skill => @skill.id} %></p>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        </div>
      </div>
    </div>

    <div class="large-9 columns">
      <% @quests.each do |quest|%>
        <% unless @completed_quests.include? quest.id %>
        <div class="row quest<% if @selected_quests.include? quest.id %> accepted<% end if @selected_quests %>">
            <div class="large-2 columns small-3 new-quest" quest="<%= quest.id %>"><img src="<%= quest.icon_url %>"/></div>
          <div class="large-10 columns">
            <p><strong><%= quest.name %>:</strong> <%= quest.description %><% unless quest.link.blank? %><a href='<%= quest.link %>'>here.</a><% end %></p>
            <p><strong>Experience Points: </strong><span id="current-xp-<%= quest.id %>"><%= quest.current_experience_points %></span><% if user_signed_in? %><span class="vote upvote" quest_id="<%= quest.id %>">+</span> <span class="vote downvote" quest_id="<%= quest.id %>">-</span><% end %></p>
          </div>

        </div>
        <hr/>
        <% end %>
      <% end %>
    </div>
  </div>
