  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1>Click Icons to Accept Quests</h1>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="large-3 columns ">
      <div class="panel">
        <a href="#"><img src="<%= @skill.icon_url %>"/></a>
        <h5><%= @skill.name %></h5>
        <p><%= link_to "Add a new quest!", {:controller => "quests", :action => "new", :skill => @skill.id} %></p>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        </div>
      </div>
    </div>

    <div class="large-9 columns">
      <% @quests.each do |x|%>
        <% unless @completed_quests.include? x.id %>
        <div class="row quest<% if @selected_quests.include? x.id %> accepted<% end if @selected_quests %>">
            <div class="large-2 columns small-3 new-quest" quest="<%= x.id %>"><img src="<%= x.icon_url %>"/></div>
          <div class="large-10 columns">
            <p><strong><%= x.name %>:</strong> <%= x.description %><% unless x.link.blank? %><a href='<%= x.link %>'>here.</a><% end %></p>
            <p><strong>Experience Points: </strong><%= x.experience_points %></p>
          </div>

        </div>
        <hr/>
        <% end %>
      <% end %>
    </div>
  </div>
