

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1><%= @skill.name %></h1>
      </div>
    </div>
  </div>

  <div class="row">


    <div class="large-3 columns ">
      <div class="panel">
        <a href="#"><img src="<%= @skill.icon_url %>"/></a>
        <h5><%= @skill.name %></h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        </div>

      </div>
    </div>



    <div class="large-6 columns">

      <% @quests.each do |x|%>
      <div class="row">
        <div class="large-2 columns small-3"><img src="<%= x.icon_url %>"/></div>
        <div class="large-10 columns">
          <p><strong><%= x.name %>:</strong> <%= x.description %><% unless x.link.blank? %><a href='<%= x.link %>'>here.</a><% end %></p>
          <ul class="inline-list">
            <li><a href="">Accept</a></li>
          </ul>
        </div>
      </div>
      <hr/>
      <% end %>
    </div>

    <aside class="large-3 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
      <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    </aside>

  </div>
