  <div class="row">
    <div class="large-12 columns">

      <div class="hide-for-small">
        <div id="featured">
              <%= image_tag "logo.jpg" %>

          </div>
        </div>

    <div class="row">
      <div class="small-12 show-for-small"><br>
        <%= image_tag "logo.jpg" %>
      </div>
    </div>

    </div>
  </div><br>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns popular">
        <div class="panel">Newest Skills</div>
      </div>

      <div class="row">


        <% @skills.each do |i|%>
        <a href="/skills/<%= i.id %>">
          <div class="large-3 small-6 columns">
            <img src="<%= i.icon_url %>"/>
            <h6 class="panel"><%= i.name %></h6>
          </div>
        </a>
        <% end %>

      </div>



      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns">
      <div class="row">



        <div class="large-8 columns">
          <div class="panel radius">

          <div class="row">
          <div class="large-6 small-6 columns">

            <h4>Power Level</h4><hr/>
            <h5 class="subheader"> Join the fastest growing(only) life based role-playing game! Complete with skills, a picture of a 20-sided die, and responsive design!
            </h5>

          <div class="show-for-small" align="center">
            <a href="/skills" class="small radius button">View Our Skills!</a><br>

            <a href="/welcome/legal" class="small radius button">Don't Sue Me!</a>
          </div>

          </div>
          <div class="large-6 small-6 columns">

            <p>“Always dream and shoot higher than you know you can do. Do not bother just to be better than your contemporaries or predecessors. Try to be better than yourself.” - William Faulkner
          </p>
        </div>

        </div>
        </div>
        </div>

          <div class="large-4 columns hide-for-small">

          <h4>Get In Touch!</h4><hr/>

          <a class="large button expand" href="/skills">
            View Our Skills!
          </a>

          <a class="large button expand" href="/welcome/legal">
            Don't Sue Me!
          </a>


        </div>
      </div>
    </div>
  </div>




